body{
    background-color: rgb(225,222, 254);
}
.margin-top-5px
{
    margin-top: 5px;
}
.margin-top-15px
{
    margin-top: 15px;
}
.table_header
{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.profile_pic
{
    max-width: 60px !important;
}
.convo_left
{
    background-color:#a0c3ff;
}
.convo_right,.convo_left
{
    padding:8px;
    border-radius: 3px;
}
.convo_right
{
    background-color: #00b875;
}
.tip_left
{
    margin-left: 5px;
    margin-top:-15px;
    border-top: 8px dashed #a0c3ff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.tip_right, .tip_left
{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
}
.tip_right
{
    position: relative;
    margin-right: 5px;
    border-top: 8px solid #00b875;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
textarea.form-control
{
    resize: vertical;
}
#message_body
{
    max-height: 300px;
    overflow-y: auto;
}
.media
{
    padding: 4px;
    border-radius: 4px;
    background-color: #e0e0e0;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.aw-widget-36hour,.gte-950
{
    width:80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#gov_modal
{
    max-height:400px;
    overflow-y: auto;
}
#no_scroll
{
    overflow: hidden;
}
.fa-facebook-square
{
    color: #4374e0;
}
